<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>wechat text analyzer</title>
</head>
<body>
<div class="row well">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="text-align: center">
        <div>
            <span>URL:</span>
            <input type="text" id="url">
            <button class="btn-success" id="btn_send">send</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div id="text" class="col-md-12" style="text-align: center">主题：</div>
</div>
<div class="row">
    <div class="col-md-4" id="keywords" style="text-align: center">关键词：</div>
    <div class="col-md-4" id="jieba_keywords" style="text-align: center">jieba关键词：</div>
    <div class="col-md-4" id="jieba_textrank" style="text-align: center">jieba－textrank：</div>
</div>


</body>
<script>
    $("#btn_send").click(function () {
        alert($("#url").val())
        $.post('/predict_boson_url', {url: $("#url").val()}, function (data, status) {
            console.log(data);
            var jdata = jQuery.parseJSON(data)
            $('#text').html('<p>主题:' + jdata.class + '</p>')
            var topk = '关键词：\n';
            for (var i = 0; i < jdata.keyword.length; i++) {
                topk += '<p>' + i + ':\t' + jdata.keyword[i][1] + '\t' + jdata.keyword[i][0] + '\n' + '</p>';
            }
            $("#keywords").html(topk)
            var jieba_keywords = 'jieba关键词：\n';
            for (var i = 0; i < jdata.jieba_keywords.length; i++) {
                jieba_keywords += '<p>' + i + ':\t' + jdata.jieba_keywords[i] + '\n' + '</p>';
            }
            $("#jieba_keywords").html(jieba_keywords)
            var jieba_textrank = 'jieba-textrank：\n';
            for (var i = 0; i < jdata.jieba_textrank.length; i++) {
                jieba_textrank += '<p>' + i + ':\t' + jdata.jieba_textrank[i] + '\n' + '</p>';
            }
            $("#jieba_textrank").html(jieba_textrank)
        })
    })

</script>
{# '{"content":"' + $("#url").val() + '}',#}
</html>